*{
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 90px 20px 0;
    box-sizing: border-box;
    background-color: #99ffcc;
}


.aside {
    text-align: center;
    position: fixed;
    background-color: #00cccc;
    top: 18%;
    left: 0;
    width: 19%;
    height: 80%;
}

.section {
    overflow-y: scroll;
    position: fixed;
    background-color: #00cccc;
    top: 18%;
    left: 20%;
    width: 80%;
    height: 80%
}

.sectionVideos {
    overflow-y: scroll;
    text-align: center;
    position: fixed;
    background-color: #00cccc;
    top: 18%;
    left: 20%;
    width: 80%;
    height: 80%
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    text-align: center;
    background-color: #009999;
 
}

tbody tr:nth-child(odd) {
    background-color: #00cccc;
    color: white
}

tbody tr:nth-child(even) {
    background-color: #009999;
    color: white
}